<div class="user-details">
  <h1> Featured Work </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/UWmadison.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> University of Wisconsin</h3>
    <ul class="pacifico">
       Front-End Developer
    </ul>
    <p>As a Front-End developer at UW I write software for various groups in the University. I am currently building JavaScript applications using Angular.JS.
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/morningstar.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Morningstar Development Program</h3>
    <ul class="pacifico">
      Associate Engineer
    </ul>
    <p>At Morningstar I worked as a QA Engineer on an individual investor platform, a UI Engineer on a retirement platform, and a project manager and JavaScript developer on a internal communications tool.
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/full.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Lady Mafia </h3>
    <ul class="pacifico">
      Co-Founder
    </ul>
    <p><a href="http://ladymafia.rocks/">Lady Mafia</a> is a publication cataloguing the feminine force of people moving the earth towards a greater good. I started it with my fellow developer and good friend, Gaby Ruiz-Funes. We created all of the content featured on the site and designed and coded the platform. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/riots.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Riots on Rails </h3>
    <ul class="pacifico">
      Full-Stack Developer, Data Analyst
    </ul>
    <p><a href="https://github.com/WDI-Woodstock-CharlieBrown/riotsOnRailsApp">Riots on Rails</a> is a data visualization and story portraying the gravity of the racial riots our country has experienced since the civil rights movement. We collected the data, visualized it using D3.JS, and used ruby on rails to serve the data and the application. </p>
  </div>
</div>
